.nav-header {
  .header-container {
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    .navbar-toggler {
      border: none;
    }
    nav.nav-type {
      background-color: transparent !important;

      .logo {
        width: 136px;
        padding-top: 4px;
        position: relative;
        z-index: 9999;
        -webkit-transition: width .5s ease-in-out 0s;
        -o-transition: width .5s ease-in-out 0s;
        transition: width .5s ease-in-out 0s;

        img {
          width: 125px;
          height: 50px;
        }
      }
    }
    .site-header {
      -webkit-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
    }
  }
}

.menu-icon {
  position: relative;
  z-index: 999;
  float: right;
  cursor: pointer;
  margin-right: 50px;
  .menu-icon-close {
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 0;
    color: #fff;
  }

  &:hover {
    .icon-circle {
      opacity: 0.2;
      visibility: visible;
    }
    .menu-icon__line-left {
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
    .menu-icon__line-right {
      -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    .text-open {
      display: block;
    }
  }

  .icon-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fff;
    left: 50%;
    top: 50%;
    margin-top: -23px;
    margin-left: -21px;
    cursor: pointer;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .icon-m {
    position: relative;
    width: 22px;
    display: inline-block;
    height: 18px;
    .menu-icon__line {
      height: 2px;
      width: 22px;
      display: block;
      background-color: #ffffff;
      margin-bottom: 4px;
      -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
      transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
      -o-transition: transform 0.2s ease, background-color 0.5s ease;
      transition: transform 0.2s ease, background-color 0.5s ease;
      transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
    }

    .menu-icon__line-left {
      width: 11px;
      -webkit-transition: -webkit-transform 0.5s ease-in-out !important;
      transition: -webkit-transform 0.5s ease-in-out !important;
      -o-transition: transform 0.5s ease-in-out !important;
      transition: transform 0.5s ease-in-out !important;
      transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out !important;
    }
    .menu-icon__line-right {
      width: 11px;
      position: absolute;
      right: 2px;
    }
  }

  .text-menu {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    font-family: $fontSerifProLight;
    font-weight: 200;
    top: -21px;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.9;
    -webkit-transition: -webkit-transform 1.5s ease-in-out !important;
    > div {
      position: absolute;
      left: 0;
      top: 0;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    }
  }
}
